<div class="row">
  <h2>Lista dei corsi</h2>
  <mat-form-field>
    <mat-label>Inserisci il titolo del corso</mat-label>
    <input
      matInput
      #searchQuery
      type="text"
      (input)="onSearchUpdate(searchQuery.value)"
    />
    <button
      *ngIf="searchQuery.value"
      matSuffix
      mat-icon-button
      (click)="searchQuery.value = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button (click)="openDialog()">Aggiungi corso</button>
</div>

<app-card-list [message]="displayMessage" [lists]="courseList$ | async">
  <ng-template let-item>
    <a class="card" [routerLink]="['/ListaCorsi/', item.id]">
      <app-card card [list]="item">
        <ng-container ngProjectAs="[footer]">
          {{ item.duration | msToTime }} | {{ item.difficulty }} |
          {{ item.price }}
        </ng-container>
      </app-card>
    </a>
  </ng-template>
</app-card-list>
